.about {
    background-color: #14629a;

    h3 {
        font-family: "Helvetica", sans-serif;
        font-weight: 300;
        font-size: 23px;
        color: #dafbfc;
        line-height: 105px;
        @include breakpoint(small) {
            text-align: center;
        }
        @include breakpoint(ex-small) {
            margin-top: 60px;
            text-align: center;
            font-size: 34px;
            line-height: 1.1;
        }
    }

    .row-about {
        font-size: 0;

        div {
            display: inline-block;
        }

        .figure {
            margin: 0;
            height: 20px;
            line-height: 155px;
        }

        .button-flt {
            float: right;
            line-height: 135px;
            margin-bottom: 20px;

            .button {
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                font-size: 15px;
                position: relative;
                color: #494a4a;
                background-color: #efefef;
                border: 1px solid #babcbd;
                display: inline-block;
                height: auto;
                min-height: 53px;
                width: 100%;
                line-height: 55px;
                text-align: center;
                text-decoration: none;
                @include filter-gradient(#ffffff, #000000, vertical);
                @include background-image(linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%));
                @include border-radius(3px);
                @include box-shadow(0 6px 4px -4px rgba(0, 0, 0, .35));
                @include transition-property(all);
                @include transition-duration(400ms);
                @include breakpoint(small){
                    line-height: 65px;
                }

                &:hover {
                    background: rgba(218, 251, 252, 0.6);
                }
            }
        }
    }
}