.monitor {
    padding-top: 55px;
    @include breakpoint(ex-small) {
        padding-top: 35px;
        background-color: #f5f4f4;
    }

    .monitor-bg {
        height: 295px;
        @include breakpoint(small) {
            height: 219px;
        }
        @include breakpoint(ex-small) {
            height: 105px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}