@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);
/* line 5, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../scss/_base.scss */
body .padding-cl {
  padding: 0;
}

/* line 2, ../scss/components/_clearfix.scss */
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

/* line 1, ../scss/components/_form.scss */
form {
  margin: 30px 0;
  background: none;
}
/* line 3, ../scss/mixins/_placeholder.scss */
form .form-group input::-webkit-input-placeholder {
  font-size: 13px;
  font: '"Open Sans", sans-serif';
  color: #061b2a;
}
/* line 9, ../scss/mixins/_placeholder.scss */
form .form-group input::-moz-placeholder {
  font-size: 13px;
  font: '"Open Sans", sans-serif';
  color: #061b2a;
}
/* line 15, ../scss/mixins/_placeholder.scss */
form .form-group input:-ms-input-placeholder {
  font-size: 13px;
  font: '"Open Sans", sans-serif';
  color: #061b2a;
}
@media (max-width: 767px) {
  /* line 3, ../scss/mixins/_placeholder.scss */
  form .form-group input::-webkit-input-placeholder {
    font-size: 15px;
    font: '"Open Sans", sans-serif';
    color: #061b2a;
  }
  /* line 9, ../scss/mixins/_placeholder.scss */
  form .form-group input::-moz-placeholder {
    font-size: 15px;
    font: '"Open Sans", sans-serif';
    color: #061b2a;
  }
  /* line 15, ../scss/mixins/_placeholder.scss */
  form .form-group input:-ms-input-placeholder {
    font-size: 15px;
    font: '"Open Sans", sans-serif';
    color: #061b2a;
  }
}
/* line 14, ../scss/components/_form.scss */
form .form-group span .fa-question {
  width: 16px;
  color: #818181;
  border: 1px solid #d5d5d5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 20, ../scss/components/_form.scss */
form .form-group span .fa-check-circle {
  color: #a0d271;
}
/* line 23, ../scss/components/_form.scss */
form .form-group span .fa-times-circle {
  color: #ff5958;
}
/* line 29, ../scss/components/_form.scss */
form .form-inline {
  text-align: left;
}
/* line 32, ../scss/components/_form.scss */
form .form-inline .form-group:last-child {
  float: right;
}
@media (max-width: 767px) {
  /* line 32, ../scss/components/_form.scss */
  form .form-inline .form-group:last-child {
    float: none;
  }
}
/* line 3, ../scss/mixins/_placeholder.scss */
form .form-inline .form-group input::-webkit-input-placeholder {
  font-size: 13px;
  font: '"Open Sans", sans-serif';
  color: #061b2a;
}
/* line 9, ../scss/mixins/_placeholder.scss */
form .form-inline .form-group input::-moz-placeholder {
  font-size: 13px;
  font: '"Open Sans", sans-serif';
  color: #061b2a;
}
/* line 15, ../scss/mixins/_placeholder.scss */
form .form-inline .form-group input:-ms-input-placeholder {
  font-size: 13px;
  font: '"Open Sans", sans-serif';
  color: #061b2a;
}
@media (max-width: 767px) {
  /* line 3, ../scss/mixins/_placeholder.scss */
  form .form-inline .form-group input::-webkit-input-placeholder {
    font-size: 15px;
    font: '"Open Sans", sans-serif';
    color: #061b2a;
  }
  /* line 9, ../scss/mixins/_placeholder.scss */
  form .form-inline .form-group input::-moz-placeholder {
    font-size: 15px;
    font: '"Open Sans", sans-serif';
    color: #061b2a;
  }
  /* line 15, ../scss/mixins/_placeholder.scss */
  form .form-inline .form-group input:-ms-input-placeholder {
    font-size: 15px;
    font: '"Open Sans", sans-serif';
    color: #061b2a;
  }
}
/* line 49, ../scss/components/_form.scss */
form .button-wrapper {
  margin-top: 35px;
  text-align: left;
}
/* line 54, ../scss/components/_form.scss */
form .button-wrapper button:last-child {
  float: right;
}
/* line 59, ../scss/components/_form.scss */
form .button-wrapper .btn-default {
  width: 120px;
  line-height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #696a6a;
  text-shadow: 0 1px 1px rgba(150, 150, 150, 0.5);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
@media (max-width: 767px) {
  /* line 59, ../scss/components/_form.scss */
  form .button-wrapper .btn-default {
    width: 150px;
  }
}
/* line 77, ../scss/components/_form.scss */
form .bg-primary {
  width: 245px;
  line-height: 48px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #fefefe;
  border: solid 1px #287fbe;
  -moz-box-shadow: inset 0px 2px 0px rgba(143, 198, 239, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(143, 198, 239, 0.35);
  box-shadow: inset 0px 2px 0px rgba(143, 198, 239, 0.35);
  text-shadow: 0 1px 1px rgba(150, 150, 150, 0.5);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
@media (max-width: 767px) {
  /* line 77, ../scss/components/_form.scss */
  form .bg-primary {
    width: 150px;
  }
}
/* line 93, ../scss/components/_form.scss */
form .bg-primary:hover {
  background: #2996d9;
  color: #fefefe;
}

/* line 1, ../scss/widgets/_header.scss */
header {
  padding: 15px 0 10px;
}
@media (max-width: 767px) {
  /* line 1, ../scss/widgets/_header.scss */
  header {
    padding: 0;
    background-color: #fff;
  }
}
/* line 9, ../scss/widgets/_header.scss */
header .navbar-default {
  background-color: #fff;
  border: none;
}
@media (max-width: 767px) {
  /* line 9, ../scss/widgets/_header.scss */
  header .navbar-default {
    margin: 0;
  }
}
/* line 18, ../scss/widgets/_header.scss */
header .navbar-default .navbar-header .navbar-toggle {
  border: none;
  margin: 0;
  padding: 9px 31px;
  height: 70px;
  width: 102px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
@media (max-width: 320px) {
  /* line 18, ../scss/widgets/_header.scss */
  header .navbar-default .navbar-header .navbar-toggle {
    width: 62px;
    padding: 9px 12px;
  }
}
/* line 32, ../scss/widgets/_header.scss */
header .navbar-default .navbar-header .navbar-toggle:hover {
  background-color: #57baff;
}
/* line 36, ../scss/widgets/_header.scss */
header .navbar-default .navbar-header .navbar-toggle:focus {
  background-color: #57baff;
}
/* line 38, ../scss/widgets/_header.scss */
header .navbar-default .navbar-header .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 43, ../scss/widgets/_header.scss */
header .navbar-default .navbar-header .navbar-toggle .icon-bar {
  text-align: center;
  height: 6px;
  width: 37px;
  margin-top: 5px;
  background-color: #d2d4d4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 53, ../scss/widgets/_header.scss */
header .navbar-default .navbar-header .navbar-brand {
  height: auto;
  padding-top: 13px;
}
@media (max-width: 767px) {
  /* line 53, ../scss/widgets/_header.scss */
  header .navbar-default .navbar-header .navbar-brand {
    padding: 13px 0 0 0;
  }
}
/* line 63, ../scss/widgets/_header.scss */
header .navbar-default .navbar-collapse {
  border: none;
}
@media (max-width: 767px) {
  /* line 63, ../scss/widgets/_header.scss */
  header .navbar-default .navbar-collapse {
    position: absolute;
    z-index: 10;
    width: 92%;
  }
}
@media (max-width: 767px) {
  /* line 71, ../scss/widgets/_header.scss */
  header .navbar-default .navbar-collapse .navbar-right {
    margin-top: 0;
  }
}
/* line 76, ../scss/widgets/_header.scss */
header .navbar-default .navbar-collapse .navbar-right li {
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
}
@media (max-width: 767px) {
  /* line 76, ../scss/widgets/_header.scss */
  header .navbar-default .navbar-collapse .navbar-right li {
    background-color: #57baff;
    border-bottom: 4px solid #53b1f2;
  }
}
/* line 88, ../scss/widgets/_header.scss */
header .navbar-default .navbar-collapse .navbar-right li:last-child a {
  padding-right: 0;
}
/* line 93, ../scss/widgets/_header.scss */
header .navbar-default .navbar-collapse .navbar-right li a {
  padding: 0;
  line-height: 40px;
  color: #061b2a;
  text-decoration: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
@media (max-width: 767px) {
  /* line 93, ../scss/widgets/_header.scss */
  header .navbar-default .navbar-collapse .navbar-right li a {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 115px;
    text-align: center;
    color: #fcf7f4;
  }
}
/* line 110, ../scss/widgets/_header.scss */
header .navbar-default .navbar-collapse .navbar-right li a:hover {
  color: rgba(6, 27, 42, 0.5);
}

/* line 1, ../scss/widgets/_footer.scss */
footer {
  font-size: 0;
  background-color: #fcf7f4;
  text-align: center;
}
/* line 6, ../scss/widgets/_footer.scss */
footer .logo {
  float: left;
  display: inline-block;
  line-height: 115px;
}
@media (max-width: 767px) {
  /* line 6, ../scss/widgets/_footer.scss */
  footer .logo {
    padding-top: 35px;
    float: none;
    line-height: 90px;
  }
}
/* line 16, ../scss/widgets/_footer.scss */
footer .copyright {
  float: right;
  display: inline-block;
  line-height: 115px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #494a4a;
  text-shadow: 0 1px 1px rgba(150, 150, 150, 0.5);
}
@media (max-width: 767px) {
  /* line 16, ../scss/widgets/_footer.scss */
  footer .copyright {
    float: none;
    padding-bottom: 35px;
    line-height: 90px;
  }
}

/* line 1, ../scss/layouts/_homepage.scss */
.homepage {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
@media (max-width: 767px) {
  /* line 1, ../scss/layouts/_advertising.scss */
  .homepage .advertising {
    background-color: #f5f4f4;
  }
}
/* line 7, ../scss/layouts/_advertising.scss */
.homepage .advertising h1 {
  margin-top: 30px;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../scss/layouts/_advertising.scss */
  .homepage .advertising h1 {
    text-align: center;
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  /* line 7, ../scss/layouts/_advertising.scss */
  .homepage .advertising h1 {
    margin-bottom: 30px;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
  }
}
/* line 25, ../scss/layouts/_advertising.scss */
.homepage .advertising h1 .uniform-bg {
  background: #1769a4;
  position: relative;
  outline: #1769a4 solid 0.2em;
}
/* line 30, ../scss/layouts/_advertising.scss */
.homepage .advertising h1 .uniform-bg span {
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 35, ../scss/layouts/_advertising.scss */
  .homepage .advertising .login-buttons {
    margin-top: 30px;
  }
}
/* line 40, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul {
  font-size: 0;
}
/* line 42, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li {
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: #55a4da;
}
/* line 50, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .button {
  position: relative;
  color: #494a4a;
  background-color: #efefef;
  border: 1px solid #babcbd;
  display: inline-block;
  height: auto;
  min-height: 40px;
  line-height: 38px;
  width: 100%;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(150, 150, 150, 0.5);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 69, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .button:hover {
  background: rgba(23, 105, 164, 0.25);
}
/* line 74, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .twitter::before {
  top: 0;
  left: 0;
  background: #00aaef url("../../images/advertising/twitter.png") no-repeat center;
  content: '';
  width: 48px;
  height: 100%;
  position: absolute;
  display: block;
  border: solid 1px #287fbe;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF000000');
  -moz-box-shadow: inset 0px 2px 0px rgba(42, 183, 236, 0.35), 0px 2px 0px rgba(42, 183, 236, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(42, 183, 236, 0.35), 0px 2px 0px rgba(42, 183, 236, 0.35);
  box-shadow: inset 0px 2px 0px rgba(42, 183, 236, 0.35), 0px 2px 0px rgba(42, 183, 236, 0.35);
}
@media (max-width: 767px) {
  /* line 74, ../scss/layouts/_advertising.scss */
  .homepage .advertising .login-buttons ul li .twitter::before {
    background: #00659b url("../../images/advertising/in.png") no-repeat center;
    background-size: 25px 25px;
    border: solid 1px #00507b;
    -moz-box-shadow: inset 0px 2px 0px rgba(97, 157, 188, 0.35), 0px 2px 0px rgba(97, 157, 188, 0.35);
    -webkit-box-shadow: inset 0px 2px 0px rgba(97, 157, 188, 0.35), 0px 2px 0px rgba(97, 157, 188, 0.35);
    box-shadow: inset 0px 2px 0px rgba(97, 157, 188, 0.35), 0px 2px 0px rgba(97, 157, 188, 0.35);
  }
}
@media (max-width: 320px) {
  /* line 74, ../scss/layouts/_advertising.scss */
  .homepage .advertising .login-buttons ul li .twitter::before {
    width: 38px;
  }
}
/* line 99, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .twitter::after {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  content: '';
  width: 48px;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
/* line 110, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .facebook::before {
  top: 0;
  left: 0;
  background: #39579a url("../../images/advertising/facebook.png") no-repeat center;
  content: '';
  width: 48px;
  height: 100%;
  position: absolute;
  display: block;
  border: solid 1px #253c6f;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF000000');
  -moz-box-shadow: inset 0px 2px 0px rgba(131, 148, 187, 0.35), 0px 2px 0px rgba(131, 148, 187, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(131, 148, 187, 0.35), 0px 2px 0px rgba(131, 148, 187, 0.35);
  box-shadow: inset 0px 2px 0px rgba(131, 148, 187, 0.35), 0px 2px 0px rgba(131, 148, 187, 0.35);
}
@media (max-width: 320px) {
  /* line 110, ../scss/layouts/_advertising.scss */
  .homepage .advertising .login-buttons ul li .facebook::before {
    width: 38px;
  }
}
/* line 127, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .facebook::after {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  content: '';
  width: 48px;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
/* line 138, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .google::before {
  top: 0;
  left: 0;
  background: #dd523d url("../../images/advertising/google+.png") no-repeat center;
  content: '';
  width: 48px;
  height: 100%;
  position: absolute;
  display: block;
  border: solid 1px #aa1828;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF000000');
  -moz-box-shadow: inset 0px 2px 0px rgba(226, 145, 133, 0.35), 0px 2px 0px rgba(226, 145, 133, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(226, 145, 133, 0.35), 0px 2px 0px rgba(226, 145, 133, 0.35);
  box-shadow: inset 0px 2px 0px rgba(226, 145, 133, 0.35), 0px 2px 0px rgba(226, 145, 133, 0.35);
}
@media (max-width: 320px) {
  /* line 138, ../scss/layouts/_advertising.scss */
  .homepage .advertising .login-buttons ul li .google::before {
    width: 38px;
  }
}
/* line 156, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .google::after {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  content: '';
  width: 48px;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
/* line 167, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .e-mail::before {
  top: 0;
  left: 0;
  background: #3aa5f1 url("../../images/advertising/annotation.png") no-repeat center;
  content: '';
  width: 48px;
  height: 100%;
  position: absolute;
  display: block;
  border: solid 1px #287fbe;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF000000');
  -moz-box-shadow: inset 0px 2px 0px rgba(131, 194, 238, 0.35), 0px 2px 0px rgba(131, 194, 238, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(131, 194, 238, 0.35), 0px 2px 0px rgba(131, 194, 238, 0.35);
  box-shadow: inset 0px 2px 0px rgba(131, 194, 238, 0.35), 0px 2px 0px rgba(131, 194, 238, 0.35);
}
@media (max-width: 320px) {
  /* line 167, ../scss/layouts/_advertising.scss */
  .homepage .advertising .login-buttons ul li .e-mail::before {
    width: 38px;
  }
}
/* line 184, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul li .e-mail::after {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  content: '';
  width: 48px;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
/* line 195, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul .line {
  position: relative;
}
/* line 198, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul .line::before {
  position: absolute;
  content: '- - - - - - - - - - - - - -';
  color: #f3f2ee;
  display: block;
}
/* line 205, ../scss/layouts/_advertising.scss */
.homepage .advertising .login-buttons ul .line::after {
  top: 0;
  right: 0;
  position: absolute;
  content: '- - - - - - - - - - - - - -';
  color: #f3f2ee;
  display: block;
}
/* line 216, ../scss/layouts/_advertising.scss */
.homepage .advertising .nav-tabs {
  padding-top: 15px;
}
/* line 219, ../scss/layouts/_advertising.scss */
.homepage .advertising .nav-tabs li {
  width: 250px;
  text-align: center;
  -moz-box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.35);
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.35);
}
@media (max-width: 767px) {
  /* line 219, ../scss/layouts/_advertising.scss */
  .homepage .advertising .nav-tabs li {
    width: 156px;
  }
}
/* line 227, ../scss/layouts/_advertising.scss */
.homepage .advertising .nav-tabs li a {
  border: solid 1px #d4d4d4;
  line-height: 37px;
  width: 250px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #6c6c6c;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 0 0;
  -moz-box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.35);
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.35);
}
@media (max-width: 767px) {
  /* line 227, ../scss/layouts/_advertising.scss */
  .homepage .advertising .nav-tabs li a {
    width: 156px;
    line-height: 27px;
  }
}
/* line 245, ../scss/layouts/_advertising.scss */
.homepage .advertising .nav-tabs .first a {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 0;
}
/* line 252, ../scss/layouts/_advertising.scss */
.homepage .advertising .nav-tabs .active a {
  border: solid 1px #287fbe;
  color: #fff;
  background-color: #52a6e5;
  -moz-box-shadow: inset 0px 2px 0px rgba(143, 198, 239, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(143, 198, 239, 0.35);
  box-shadow: inset 0px 2px 0px rgba(143, 198, 239, 0.35);
}
/* line 261, ../scss/layouts/_advertising.scss */
.homepage .advertising form {
  width: 500px;
}
@media (max-width: 767px) {
  /* line 261, ../scss/layouts/_advertising.scss */
  .homepage .advertising form {
    width: 312px;
  }
}
/* line 267, ../scss/layouts/_advertising.scss */
.homepage .advertising .collapse {
  text-align: center;
}
/* line 269, ../scss/layouts/_advertising.scss */
.homepage .advertising .collapse .well {
  display: inline-block;
  background: none;
  border: none;
  text-align: center;
}
/* line 276, ../scss/layouts/_advertising.scss */
.homepage .advertising .popover {
  width: 170px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #676767;
}
/* line 1, ../scss/layouts/_monitor.scss */
.homepage .monitor {
  padding-top: 55px;
}
@media (max-width: 767px) {
  /* line 1, ../scss/layouts/_monitor.scss */
  .homepage .monitor {
    padding-top: 35px;
    background-color: #f5f4f4;
  }
}
/* line 8, ../scss/layouts/_monitor.scss */
.homepage .monitor .monitor-bg {
  height: 295px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 8, ../scss/layouts/_monitor.scss */
  .homepage .monitor .monitor-bg {
    height: 219px;
  }
}
@media (max-width: 767px) {
  /* line 8, ../scss/layouts/_monitor.scss */
  .homepage .monitor .monitor-bg {
    height: 105px;
  }
}
/* line 17, ../scss/layouts/_monitor.scss */
.homepage .monitor .monitor-bg img {
  width: 100%;
  height: 100%;
}
/* line 1, ../scss/layouts/_features.scss */
.homepage .features {
  background-image: url("../../images/features/features-bg.png");
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
/* line 9, ../scss/layouts/_features.scss */
.homepage .features h2 {
  padding-top: 135px;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #fafbfc;
}
@media (max-width: 767px) {
  /* line 9, ../scss/layouts/_features.scss */
  .homepage .features h2 {
    padding: 70px 15px 0 15px;
    font-size: 28px;
  }
}
/* line 22, ../scss/layouts/_features.scss */
.homepage .features h3 {
  margin: 20px 0;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: #fff;
}
@media (max-width: 767px) {
  /* line 22, ../scss/layouts/_features.scss */
  .homepage .features h3 {
    font-size: 36px;
  }
}
/* line 33, ../scss/layouts/_features.scss */
.homepage .features p {
  padding: 0 17px;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  color: #d4edff;
  line-height: 26px;
}
@media (max-width: 767px) {
  /* line 33, ../scss/layouts/_features.scss */
  .homepage .features p {
    padding: 0 7px;
    font-size: 19px;
  }
}
/* line 45, ../scss/layouts/_features.scss */
.homepage .features .wrapper-ft {
  margin-top: 70px;
  margin-bottom: 170px;
}
@media (max-width: 767px) {
  /* line 45, ../scss/layouts/_features.scss */
  .homepage .features .wrapper-ft {
    margin-top: 50px;
    margin-bottom: 45px;
  }
}
/* line 53, ../scss/layouts/_features.scss */
.homepage .features .wrapper-ft figure {
  text-align: center;
}
@media (max-width: 767px) {
  /* line 53, ../scss/layouts/_features.scss */
  .homepage .features .wrapper-ft figure {
    margin-bottom: 60px;
  }
}
/* line 60, ../scss/layouts/_features.scss */
.homepage .features .wrapper-ft .clock {
  margin-top: 15px;
}
/* line 1, ../scss/layouts/_tweets.scss */
.homepage .tweets {
  padding-top: 55px;
  background-image: url("../../images/tweets/tweet-bg.png");
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  /* line 1, ../scss/layouts/_tweets.scss */
  .homepage .tweets {
    padding-top: 100px;
  }
}
/* line 13, ../scss/layouts/_tweets.scss */
.homepage .tweets figure {
  text-align: center;
}
/* line 19, ../scss/layouts/_tweets.scss */
.homepage .tweets figure figcaption h3 {
  margin-top: 10px;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #fafbfc;
}
@media (max-width: 767px) {
  /* line 19, ../scss/layouts/_tweets.scss */
  .homepage .tweets figure figcaption h3 {
    font-size: 33px;
  }
}
/* line 32, ../scss/layouts/_tweets.scss */
.homepage .tweets p {
  margin: 0;
  line-height: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #676767;
}
@media (max-width: 767px) {
  /* line 32, ../scss/layouts/_tweets.scss */
  .homepage .tweets p {
    font-size: 18px;
    line-height: normal;
  }
}
/* line 44, ../scss/layouts/_tweets.scss */
.homepage .tweets .tweets-wp {
  margin-top: 30px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  /* line 44, ../scss/layouts/_tweets.scss */
  .homepage .tweets .tweets-wp {
    margin-top: 60px;
  }
}
/* line 51, ../scss/layouts/_tweets.scss */
.homepage .tweets .tweets-wp .first-row {
  margin-bottom: 30px;
}
/* line 54, ../scss/layouts/_tweets.scss */
.homepage .tweets .tweets-wp .first-row .tweet:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #f7f8f8;
  border-bottom: 10px solid transparent;
}
/* line 68, ../scss/layouts/_tweets.scss */
.homepage .tweets .tweets-wp .second-row .tweet:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid #f7f8f8;
  border-bottom: 10px solid transparent;
}
/* line 80, ../scss/layouts/_tweets.scss */
.homepage .tweets .tweets-wp .square {
  background-color: #57baff;
  height: 70px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 2px 0px rgba(146, 210, 255, 0.35), 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(146, 210, 255, 0.35), 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0px 2px 0px rgba(146, 210, 255, 0.35), 0 6px 4px -4px rgba(0, 0, 0, 0.35);
}
/* line 87, ../scss/layouts/_tweets.scss */
.homepage .tweets .tweets-wp .tweet {
  position: relative;
  padding: 14px;
  background-color: #f7f8f8;
  height: auto;
  min-height: 105px;
  border: 1px solid #d4d4d4;
  -moz-box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.1), 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.1), 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.1), 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 87, ../scss/layouts/_tweets.scss */
  .homepage .tweets .tweets-wp .tweet {
    font-size: 15px;
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  /* line 87, ../scss/layouts/_tweets.scss */
  .homepage .tweets .tweets-wp .tweet {
    font-size: 15px;
    margin-bottom: 35px;
  }
}
/* line 1, ../scss/layouts/_about.scss */
.homepage .about {
  background-color: #14629a;
}
/* line 4, ../scss/layouts/_about.scss */
.homepage .about h3 {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 23px;
  color: #dafbfc;
  line-height: 105px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 4, ../scss/layouts/_about.scss */
  .homepage .about h3 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  /* line 4, ../scss/layouts/_about.scss */
  .homepage .about h3 {
    margin-top: 60px;
    text-align: center;
    font-size: 34px;
    line-height: 1.1;
  }
}
/* line 21, ../scss/layouts/_about.scss */
.homepage .about .row-about {
  font-size: 0;
}
/* line 24, ../scss/layouts/_about.scss */
.homepage .about .row-about div {
  display: inline-block;
}
/* line 28, ../scss/layouts/_about.scss */
.homepage .about .row-about .figure {
  margin: 0;
  height: 20px;
  line-height: 155px;
}
/* line 34, ../scss/layouts/_about.scss */
.homepage .about .row-about .button-flt {
  float: right;
  line-height: 135px;
  margin-bottom: 20px;
}
/* line 39, ../scss/layouts/_about.scss */
.homepage .about .row-about .button-flt .button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  color: #494a4a;
  background-color: #efefef;
  border: 1px solid #babcbd;
  display: inline-block;
  height: auto;
  min-height: 53px;
  width: 100%;
  line-height: 55px;
  text-align: center;
  text-decoration: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.35);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 61, ../scss/layouts/_about.scss */
.homepage .about .row-about .button-flt .button:hover {
  background: rgba(218, 251, 252, 0.6);
}
